/* 
CSS Guide
1. General Style Rules
2. Main Navigation
3. Footer
4. Custom Queries
5. Desktop Queries
6. Tablet Queries
 */

 /* General Style Rules */

 header, main, footer {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
 }

 main {
    justify-items: center;
 }

 p {
    font-size: 15px;
    line-height: 20px;
    margin-top: 15px;
 }

 ul li {
    list-style: none;
 }





 /*  Main Navigation */

 #search {
    margin-top: 20px;
 }

 #search a {
    text-decoration: none;
 }
 

 #main-nav ul li a {
    text-decoration: none;
    }


    input {
            width: 60vw;
            border-radius: 10px;
            margin: 10px 0;
            box-sizing: border-box;
            padding: 12px;
        }

    textarea {
        width: 60vw;
        height: 30vh;
        border-radius: 10px;
        margin: 10px 0;
        box-sizing: border-box;
        padding: 12px;
    }

    #form {
        margin-right: 30px;
        margin-left: 30px;
        margin-top: 20px;
    }

    /* Footer */

    #footer-list ul li {
        margin-bottom: 10px;
    }

    #footer-nav ul li a {
        text-decoration: none;
    }

    #copyright {
        margin-top: 60px;
        justify-items: center;
    }


 /* Desktop Queries */

 @media screen and (min-width: 1024px) {

    #main-nav ul li {
    display: inline;
    }

        h2 {
        font-size: 28px;
        line-height: 33px;
    }

        ul li a {
            text-decoration: none;
        }

        p {
            font-size: 17px;
        }

 }

 /*  Tablet Queries */

 @media screen and (min-width: 768px) {


    #main-nav ul li {
    display: inline;
    }

    #burger-con {
        position: absolute;
    }

    #burger-con ul {
      margin-top: 35px;
    }

    #burger-con li {
        margin-left: 10px;
    }

    #search {
        margin-left: 40px;
    }

        h2 {
        font-size: 25px;
        line-height: 22px;
    }

        p {
            font-size: 17px;
        }

       #footer-list {
        justify-items: left;
       }
 }

